{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "items" site.Data.highlights }}
	{{ partial "spotlight" site.Data.building_a_network }}
	{{ partial "spotlight" site.Data.community_detection }}
	{{ partial "spotlight" site.Data.sad }}
	{{ partial "gallery" site.Data.sad_gallery }}
	{{ partial "spotlight" site.Data.bcr }}
	{{ partial "spotlight" site.Data.bcr_by_residence_intro }}
	{{ partial "gallery_iframe" site.Data.bcr_by_residence_iframe }}
	{{ partial "footer" . }}

{{ end }}
